/* Prevenir transições durante o carregamento inicial */
.no-transitions * {
  transition: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body {
  overflow-x: hidden;
}

/* Transições suaves para mudanças de tema */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
